* {
  transition: 200ms;
}

body {
  font-family: sans-serif;
  color: #41414e;
}

#container {
  width: 400px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
}

#container:hover #buttonArea {
  opacity: 1;
}

#inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#focusArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: space-around;  
}

#focusTask {
  width: 100%;
  min-height: 30px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.2em;
  color: #b4bbc3;
  word-break: keep-all;
}

#CountArea {
  width: 100%;
  min-height: 30px;
  text-align: center;
  font-size: 0.8em;
  color: #6b6b77;
  word-break: keep-all;
  line-height: 30px;
}

#breakCount {
  margin-left: 10px;
}

#buttonArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  place-content: space-around;
  opacity: 0;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 0;
}

#task {
  width: 384px;
  min-height: 26px;
  margin-bottom: 12px;
  padding: 0 6px;
}

#task:focus {
  outline-style: revert;
  outline: 1px solid #5b53ed;
}

.btn {
  width: 100%;
  height: 26px;
  padding: 1px 2px;
  background-color: #5b53ed;
  color: white;
  border-radius: 4px;
  border: 2px solid #5b53ed;
  box-sizing: unset;
  cursor: pointer;
}

.btn:hover {
  filter: opacity(.8);
}
.btn:focus {
  outline-color: #9c97ef;
}

#startButton {
  width: 392px;
}

#pauseButton, #resumeButton {
  width: 190px;
  background-color: #cfcfd8;
  border-color: #cfcfd8;
  color: #41414e;
}

#stopButton {
  width: 190px;
  margin-left: 4px;
  background-color: #cfcfd8;
  border-color: #cfcfd8;
  color: #41414e;
}