body {
  font-family: sans-serif;
  color: #41414e;
}

#container {
  width: 400px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
}

#inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#focusTask {
  width: 100%;
  min-height: 30px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.4em;
  color: rgb(70, 69, 69);
  word-break: keep-all;
}

#focusArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: space-around;  
}

#buttonArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  place-content: space-around;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 0;
}

#task {
  width: 384px;
  min-height: 26px;
  margin-bottom: 12px;
  padding: 0 6px;
}

.btn {
  width: 100%;
  height: 26px;
  padding: 1px 2px;
  background-color: #5b53ed;
  color: white;
  border-radius: 4px;
  border: 2px solid #5b53ed;
  box-sizing: unset;
}

.btn:focus {
  outline-color: #9c97ef;
}

#startButton {
  width: 392px;
}

#pause {
  width: 190px;
  background-color: #cfcfd8;
  border-color: #cfcfd8;
  color: #41414e;
}

#stop {
  width: 190px;
  margin-left: 4px;
  background-color: #cfcfd8;
  border-color: #cfcfd8;
  color: #41414e;
}